{% extends "base.html"%}


{% block content%}
  <div class="row">
      <div class="col-md m-auto">
          <h4 class="text-center"> {{contact.nom }} {{contact.prenom }}</h4>
          <div class="card card-body">
              <ul class="list-group list-group-flush">

                  <li class="list-group-item">
                        Téléphone : {{ contact.telephone }}
                  </li>
                  <li class="list-group-item">
                        adresse mail : {{ contact.email| default_if_none:"non renseigné" }}
                  </li>
                  <li class="list-group-item">
                       Date ajout : {{ contact.date_enregistrement|date:"d - m - y" }}
                  </li>

              </ul>

          </div>
      </div>
  </div>
{% endblock%}